.container {
}
.authContainer{
}
.formContainer{
    border: 1px green;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
}
.form{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
}
.input{
    width: 200px;
    height: 40px;
    margin-bottom: 1em;
    text-indent: 0.4em;
    font-size: 1.1rem;
    border-radius:var(--border-radius);
}
.input:focus + .placeholder{
    color: #0e7fe1;

}
.inputContainer{
    position: relative;
}
.placeholder{
    position: absolute;
    top: -6px;
    background: #fff;
    padding: 0 0.3em;
    left: 10px;
}

.formBtnContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    font-size: 0.9rem;
}
.submitBtn, .switch{
    background: none;
    border: var(--border-common);
    padding: 0.8em 0;
    cursor: pointer;
    width: 80px;
    border-radius:var(--border-radius);
    transition: all var(--animation-duration) ease-in-out;
    height: 35px;
    color: var(--color-black);
    text-align: center;
}
.submitBtn:hover, .switch:hover {
    background-color: var(--color-black);
    color: var(--color-white);
}
