.container {
}
.authContainer{
}
.formContainer{
    border: 1px green;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
}
.form{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
}
.input{
    width: 200px;
    height: 40px;
    margin-bottom: 1em;
    text-indent: 1em;
    font-size: 1.1rem;
    border-radius:var(--border-radius);
}
.submitBtn{
    background: none;
    border: var(--border-common);
    padding: 0.8em 0;
    cursor: pointer;
    width: 100px;
    border-radius:var(--border-radius);
    transition: all var(--animation-duration) ease-in-out;
}
.submitBtn:hover {
    transform: scale(1.1);
    background-color: var(--color-black);
    color: var(--color-white);
}
.error{
    color: red;
    padding: 1em;
}
.switch{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    border: var(--border-common);
    width: 150px;
    border-radius:var(--border-radius);
    padding: 1em 0;
    margin-top: 1em;
    cursor: pointer;
}
.switch span {
    transition: all var(--animation-duration) ease-in-out;
}
.switch span:not(.active){
    transform:scale(0.8);
}
.active{
    transform: scale(1.1);
}