.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 78vh;
    margin: 140px auto;
    padding-bottom: 100px;
}
.shopsMain {
    height: auto;
    max-width: unset;
    margin: 2em;
    flex-direction: row;
    padding-bottom: 0;
    align-items: flex-start;
}

.section{
    flex-direction: column;
    display: flex;
    justify-content:center;
    align-items:center;
    max-width:700px;
    min-width:500px;
    gap: 1em;
}
.header{
    font-size: 3rem;
    font-weight: 700;
    margin: 0.8em;
    padding: 0.6em 0.8em;
    border: var(--border-common);
    background: var(--color-ictus);
    border-radius: var(--border-radius);

}
.title{
    background: none;
    color: var(--color-white);
    -webkit-text-fill-color: var(--color-white);
}
.header:hover {
    background:none;
}
.header:hover .title {
    background: var(--color-ictus);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.list{
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    gap: 0.6em;
}
.item{
    display: flex;
    width: 100%;
    border: var(--border-common);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    transition: all var(--animation-duration) ease-in-out;
}
.item:hover{
    transform: var(--button-hover)
}
.btn{
    padding: 1em 2em;
    color: var(--color-white);
    background-color: var(--color-black);
    cursor: pointer;
    transition: all var(--animation-duration) ease-in-out;
    border: var(--border-common);
    border-radius: var(--border-radius);
}
.btn:hover{
    background-color: var(--color-white);
    color: var(--color-black);
    transform: var(--button-hover)
}