@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans KR', 'Noto Sans', sans-serif;
    color: #333;
}

main {
    max-width: 1000px;
    margin: auto;
}

.ck-editor__editable,
.ck-editor__editable:focus {
    width: 100%;
    min-height: 300px !important;
    line-height: 1.4em;
}

.ck-editor {
    margin: auto !important;
    width: 90% !important;
}