@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans KR', 'Noto Sans', sans-serif;
    color: #333;
}

main {
    max-width: 1000px;
    margin: auto;
}

.ck-editor__editable,
.ck-editor__editable:focus {
    width: 100%;
    min-height: 300px !important;
    line-height: 1.4em;
}

.ck-editor {
    margin: auto !important;
    width: 90% !important;
}

/*slick*/
.slick-slider {
    width: 80%;
    margin: auto;
}

.slick-list {
    border: 1px solid #333;
    border-radius: 0.4em;
}

.slick-slide {
    border-left: 1px solid #000;
    transform: translateX(-1px);
}

.slick-slide:last-child {
    border-right: 1px solid #000;
}

.slick-prev,
.slick-next {
    transform: scale(1.3);
}

.slick-prev::before,
.slick-next::before {
    color: #000;
}

.slick-dots {
    bottom: -50px;
}

.ellipsis > p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 200px;
}

/*map*/
@media screen and (max-width: 768px) {
    #myMap {
        width: 81vw !important;
        margin: auto;
        min-height: 45vh !important;
    }

    #menu_wrap {
        margin-left: 4em;
    }
}

@media screen and (max-width: 425px) {
    #menu_wrap {
        padding: 2em 0;
        position: static;
    }
}