.slickTitle {
    font-size: 1.4rem;
}

.slickContainer{
    display: flex;
    flex-direction: column;
    height: 90vh;
}

.slickTitle{
    text-align: center;
    padding-top: 40px ;
}

.slick{
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.slick:first-child{
    border-bottom: 1px solid #000;
}

.slickItem {
    display: flex;
    align-items: center;
    justify-content:center;
    height: 300px;
    width: 100%;
    padding: 0.5em;

}

.buttonContainer{
    position: absolute;
    top: 2em;
    right: 2em;
}

.buttonContainer button {
    border: var(--border-common);
    border-radius: var(--border-radius);
    padding: 0.4em 0.6em;
    margin: 0 0.4em;
    cursor: pointer;
    transition: all var(--animation-duration) ease-in-out;
}
.buttonContainer button:hover{
    background-color: var(--color-black);
    color: var(--color-white);
    transform: var(--button-hover)
}