.slickContainer{
    display: flex;
    flex-direction: column;
}

.slickTitle{
    font-size: 1.4rem;
    text-align: center;
    padding: 1.6em 0 0.4em;
    line-height: 1.4rem;
}

.slick{
    position: relative;
    height: 45vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.slick:first-child{
    border-bottom: 1px solid #000;
}

.slickItem {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    height: 300px;
    width: 100%;
    position: relative;
    transition: all var(--animation-duration) ease-in-out;
}
.slickItem:hover{
    background-color: var(--color-black);
}
.slickItem:hover .hoverBtn{
    opacity: 1;
}
.slickItem:hover .reviewText,
.slickItem:hover .shopsTitle {
    color:var(--color-white);
}

.buttonContainer {
    position: absolute;
    top: 3em;
    right: 7em;
}

.buttonContainer button {
    border: var(--border-common);
    border-radius: var(--border-radius);
    padding: 0.4em 0.6em;
    margin: 0 0.4em;
    cursor: pointer;
    transition: all var(--animation-duration) ease-in-out;
}
.buttonContainer button:hover{
    background-color: var(--color-black);
    color: var(--color-white);
    transform: var(--button-hover)
}

/*Recent Review*/
.reviewText{
    font-size: 1.4rem;
    line-height: 2rem;
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
}
.reviewText p{
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0 1em;
}

.reviewMeta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.hoverBtn{
    position: absolute;
    top: 60%;
    left: center;
    opacity: 0;
    border: var(--border-common);
    border-radius: var(--border-radius);
    cursor: pointer;
    padding: 1em 2em;
    color: var(--color-black);
    background-color: var(--color-white);
    transition: all var(--animation-duration) ease-in-out;
}

/* Shops */
.shopsTitle{
    font-size: 1.2rem;
    padding: 0.4em 0;
    text-align: center;
}

.caption {
    font-size: .9rem;
    padding-top: 1em;
}

@media screen and (max-width: 768px){
    .slickTitle{
        padding: 1em 0;
    }

    .buttonContainer{
        position: static;
    }

}