.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
}
.section{
    flex-direction: column;
    display: flex;
    justify-content:center;
    align-items:center;
    margin-bottom: 3rem;
    width: 100%;
}
.header{
    font-size: 3rem;
    font-weight: 700;
    margin: 0.8em;
    padding: 0.6em 0.8em;
    border: var(--border-common);
    background: var(--color-ictus);
}
.title{
    background: none;
    color: var(--color-white);
    -webkit-text-fill-color: var(--color-white);
}
.header:hover {
    background:none;
}
.header:hover .title {
    background: var(--color-ictus);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.list{
    display: flex;
    flex-direction: column;
    max-width: 80%;
    box-shadow: var(--box-shadow);
    background-color: var(--color-white);
    margin-bottom: 50px;
}
.item{
    display: flex;
    width: 100%;
    border: var(--border-common);
    border-bottom: var(--border-common);
}
.item:last-child{
    border-bottom: var(--border-common);
}
.btn{
    padding: 1em 2em;
    color: var(--color-white);
    background-color: var(--color-black);
    cursor: pointer;
    transition: all var(--animation-duration) ease-in;
    border: var(--border-common);
}
.btn:hover{
    background-color: var(--color-white);
    color: var(--color-black);
}