.nav{
    position: sticky;
    left: 0;
    top: 1rem;
    z-index: 10;
    margin: 2rem 1rem;
}
.link{
    padding: 0.5em 1em;
    border: var(--border-common);
    background: var(--color-ictus);
    color: var(--color-white);
    transition: color var(--animation-duration) ease-in-out;
    border-radius:var(--border-radius);
}
.link:hover{
    opacity: 0.7;
}