.nav{
    position: sticky;
    left: 0;
    top: 0;
    z-index: 10;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: color var(--animation-duration) ease-in-out;
    background: var(--color-ictus);
    border-bottom: var(--border-common);
}

.navList {
    display: flex;
    align-items: center;
    gap: 1em;
    width: 100%;
    margin: 0 1em;
}

.navListItem {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: var(--color-white);
    cursor: pointer;
    transition: all var(--animation-duration) ease-in-out;
    padding: 0 0.4em;
}
.navListItem:hover{
    transform: scale(1.2);
    color: var(--color-black);
}
.navListItem:hover .hoverText{
    opacity: 1;
}

.logout{
    margin-left: auto;
    color: var(--color-black);
}
.logout .hoverText{
    color: var(--color-black);
    margin-right: 0.4em;
}

.hoverText{
    opacity: 0;
    font-size: 0.9rem;
    text-align: center;
    margin-left: 0.4em;
    color:var(--color-white);

}

.active{
    color: var(--color-black);
    transform: scale(1.2);
}