.editorContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em 0 0;
    width: 100%;
    max-width: 800px;
}

.editorContainerShops {
    position:absolute;
    left: 1em;
    top: 0;
    z-index: 99;
    background-color: var(--color-white);
    width:450px;
    box-shadow: var(--box-shadow);
    border: var(--border-common);
    border-radius: var(--border-radius);
    padding: 2em 0;
}
.editorContainerShops>div{
    margin: 0;
}

.titleContainer{
    position: relative;
    border: 2px solid #C4C4C4;
    border-radius: var(--border-radius);
    width: 90%;
    margin-bottom: 1em;
}

.title{
    font-size: 1.2rem;
    width: 100%;
    max-width: 800px;
    border: none;
    background-color: none;
    padding: 0.8em 0 0.8em 1em;
    height: 100%;
}

.titlePlaceHolder{
    position: absolute;
    top: -6px;
    background: #fff;
    padding: 0 0.3em;
    left: 10px;
}
.title:focus + .titlePlaceHolder{
    color: #0e7fe1;
}

.ratingContainer{
    position: relative;
    border: 2px solid #C4C4C4;
    border-radius: var(--border-radius);
    width: 90%;
    padding: 0.8em;
    margin-bottom: 1em;
}

.ratingPlaceHolder{
    position: absolute;
    top: -6px;
    background: #fff;
    padding: 0 0.3em;
    left: 10px;
}

.btn{
    padding: 1em 2em;
    color:var(--color-white);
    background-color: var(--color-black);
    cursor: pointer;
    border: 1px solid #000;
}

.disabled {
    pointer-events: none;
}
