.editorContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em 0 ;
    width: 100%;
    max-width: 800px;
}
.title{
    font-size: 1.6rem;
    margin: 1em 0;
    padding: 0.5em;
    width: 90%;
    max-width: 800px;
    border: none;
    border-bottom: var(--border-common);
    background-color: none;

}
.title:focus{

}
.btn{
    padding: 1em 2em;
    color:var(--color-black);
    background-color: var(--color-white);
    cursor: pointer;
    transition: all var(--animation-duration) ease-in;
    border: 1px solid #000;
}
.btn:hover{
    background-color:var(--color-black);
    color: var(--color-white);
}
