.section {
    display:flex;
    flex-direction: column;
    align-items: center;
    border: var(--border-common);
    border-radius: var(--border-radius);
    margin: 1rem;
}
.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title, .date, .text{
    width: 100%;
}
.title{
    font-size: 2rem;
    padding: 1em;
}
.date{
    font-size: 0.9rem;
    padding: 1em 0;
    border-top: var(--border-common);
    border-bottom: var(--border-common);
}
.date small {
    margin-left: 2rem;
}
.text{
    line-height: 1.4em;
    min-height:300px;
}
.text p {
    margin: 2rem;
}
.btn{
    padding: 1em 2em;
    color: #fff;
    background-color: #000;
    cursor: pointer;
    transition: all var(--animation-duration) ease-in;
    border: var(--border-common);
    border-radius: var(--border-radius)
}
.btnOuter {
}
.btn:hover{
    background-color: darkred;
    transform: var(--button-hover)
}