.section {
    display:flex;
    flex-direction: column;
    align-items: center;
    border: var(--border-common);
    border-radius: var(--border-radius);
    margin: 1rem;
}
.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title, .meta, .text{
    width: 100%;
}
.title{
    font-size: 1.6rem;
    padding: 1em;
    line-height: 1.2em;
    display: flex;
    flex-direction: column;
    gap: 0.4em;
/*    글씨 가운데 위치하게   */
}
.meta{
    font-size: 0.9rem;
    padding: 0.8em 0;
    border-top: var(--border-common);
    border-bottom: var(--border-common);
}
.meta small {
    margin-left: 2rem;
}
.date {
    margin-bottom: 0.5em;
}
.text{
    line-height: 1.4em;
    min-height:300px;
}
.text p {
    margin: 2rem;
}
.btn{
    padding: 1em 2em;
    color: #fff;
    background-color: #000;
    cursor: pointer;
    transition: all var(--animation-duration) ease-in;
    border: var(--border-common);
    border-radius: var(--border-radius)
}
.btnOuter {
}
.btn:hover{
    background-color: darkred;
    transform: var(--button-hover)
}

/* Reviews */
.list{
    border-bottom: none;
}
.item{
    border-bottom:var(--border-common);
}