.banner{
    display: block;
    position: sticky;
    top: 0;
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 1em 0;
    color: var(--color-white);
}

.bannerRed {
    background: red;
}

.bannerGreen{
    background: green;
}
